#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./media/wallhaven-nzj2gv.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

body {
  font-family: "Segoe UI Semilight", Tahoma, Geneva, Verdana, sans-serif, Arial,
    Helvetica, sans-serif;
  scrollbar-color: rgba(0, 0, 0, 0.8) rgba(255, 255, 255, 0.65);
}

h1,
h2,
h3,
h4 {
  margin: 0px;
}

h1,
h2,
h3 {
  background: linear-gradient(to bottom,
      rgb(0 0 0 / 93%) 0%,
      rgb(0 0 0 / 93%) 10%,
      rgba(35, 35, 35, 0.925) 50%,
      rgba(0, 0, 0, 0.925) 51%,
      rgba(0, 0, 0, 0.925) 60%,
      rgba(32, 32, 32, 0.925) 100%);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
  border-top: 1px solid #858585;
  border-left: 1px solid #616161;
  border-bottom: 3px solid #161616;
  border-right: 1px solid #616161;
  border-radius: 5px;
  padding: 2px 5px 4px 5px;
  margin: 0px auto 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 970px;
  font-weight: normal;
  font-family: "Segoe UI Semilight", Tahoma, Geneva, Verdana, sans-serif, Arial,
    Helvetica, sans-serif;
}

a:hover {
  text-decoration: underline;
}

.text-underline {
  text-decoration: underline;
}

#websiteContainer {
  width: 100%;
  max-height: 917px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* Website Header */
#mainHeader {
  background: linear-gradient(180deg,
      rgb(0 0 0) 0%,
      rgb(0 0 0 / 90%) 20%,
      rgba(19, 19, 19, 0.9) 40%,
      rgba(7, 7, 7, 0.93) 100%);
  border-right: 2px solid #3d3d3d;
  border-left: 2px solid #3d3d3d;
  border-top: 2px solid #3d3d3d;
  box-shadow: rgb(50 123 106 / 16%) 0px 14px 28px,
    rgb(111 206 255 / 22%) 0px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 10;
}

.header-logo-text {
  display: flex;
  align-items: center;
}

.header-title {
  color: #56ced0;
  display: block;
}

.logo:hover {
  filter: brightness(80%);
  transition-duration: 0.4s;
  transform: rotate(4deg);
}

.header-motto {
  color: #c9c9c9;
  margin-left: 5px;
}

#navAndContentContainer {
  display: flex;
}

#navigationMenu {
  background: linear-gradient(100deg, rgb(0 0 0 / 76%) 50%, rgb(90 167 197 / 62%) 100%);
  border-right: 2px solid #3d3d3d;
  border-left: 2px solid #3d3d3d;
  border-bottom: 2px solid #3d3d3d;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  flex-direction: column;
  height: 763px;
  max-width: 250px;
  overflow: auto;
  resize: horizontal;
}

.nav-categories {
  background: rgb(26 26 26);
  border-top: 1.5px solid #535353;
  border-left: 1px solid #414141;
  border-bottom: 2px solid #2b2b2b;
  border-right: 1px solid #414141;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-bottom: 5px;
}

.nav-categories hr {
  background: rgba(12, 12, 12, 0.8);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid rgb(48, 48, 48);
  border-radius: 5px;
  width: 100%;
  height: 1px;
  margin: 3px auto 3px auto;
}

#navigationMenu div {
  display: flex;
  align-items: center;
}

.navbar-titles {
  background: linear-gradient(to bottom,
      rgb(0 0 0 / 80%) 0%,
      rgb(0 0 0 / 80%) 10%,
      rgba(35, 35, 35, 0.8) 50%,
      rgba(0, 0, 0, 0.8) 51%,
      rgba(0, 0, 0, 0.8) 60%,
      rgba(32, 32, 32, 0.8) 100%);
  border-top: 1px solid #969696;
  border-left: 1px solid #4b4b4b;
  border-bottom: 2px solid #111111;
  border-right: 1px solid #4b4b4b;
  border-radius: 3px;
  color: #f7f4f4;
  padding: 1px 0px 1px 0px;
  margin-bottom: 2px;
  font-weight: normal;
  text-align: center;
}

.nav-icons {
  height: 20px;
  margin-right: 2px;
}

.nav-active {
  color: #57fae5;
  text-decoration: none;
  cursor: pointer;
}

#mainContent {
  border-right: 2px solid #363636;
  border-bottom: 2px solid #363636;
  box-shadow: rgb(118 208 255 / 23%) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  color: #ffffff;
  padding: 15px 20px 3px 20px;
  height: 765px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.glass-borders {
  box-shadow: rgb(0 227 255 / 62%) 0px 3px 8px;
  border-bottom: 1px solid #525252;
  border-top: 1px solid #797979;
  border-left: 1px solid #777777;
  border-right: 1px solid #797979;
  border-radius: 7px;
  padding: 7px;
  margin: 11px auto 11px auto;
}

.styled-containers {
  background: rgb(0 0 0 / 79%);
  box-shadow: rgb(34 139 166) 0px 3px 8px;
  border-radius: 6px;
  padding: 15px 10px 10px 10px;
  max-width: 935px;
}

@media (max-width: 564px) {
  body {
    background: #ffffff;
  }
}

#navigationMenu {
  display: none;
  border-bottom-left-radius: 0px;
  width: 105px;
  min-width: 105px;
  padding: 10px;
}


h2 {
  font-size: 16px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

a {
  font-size: 16px;
}

ul,
ol {
  font-size: 16px;
}

#websiteContainer {
  padding-top: 81px;
}

.logo {
  width: 70px;
  margin-right: 15px;
  margin-left: 5px;
}

.header-motto {
  display: block;
  font-size: 14px;
}



#navigationMenu {
  border-bottom-left-radius: 60px;
  width: 122px;
  min-width: 122px;
}

.navbar-titles {
  font-size: 14.3px;
}


#navigationMenu a {
  font-size: 13.5px;
  text-align: left;
}


h1 {
  font-size: 20px;
}

.website-spacers {
  height: 15px;
}

#websiteContainer {
  position: absolute;
  max-width: 700px;
  padding-top: 0px;
}

#mainHeader {
  border-radius: 70px 80px 0px 0px;
  padding: 15px 10px 13px 30px;
  position: static;
  width: auto;
}

.header-title {
  font-size: 30px;
}

.header-motto {
  font-size: 16px;
}

#navigationMenu {
  display: block;
}

.Personal-Photo {
  text-align: center;
}

.Personal-Photo img {
  border-radius: 20px;
}

@media (min-width: 700px) {
  .gallery-images-containers {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 0px) {
  .gallery-images-containers {
    grid-template-columns: repeat(1, 1fr);
  }
}

.gallery-images-containers {
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

hoja de estilo de user-agent div {
  display: block;
  unicode-bidi: isolate;
}

@media (min-width: 1060px) {
  #websiteContainer {
    max-width: 1000px;
  }
}

.gallery-containers img {
  background: #121313;
  display: flex;
  align-items: center;
  width: 100%;
  object-fit: contain;
  object-position: center;
  overflow: hidden;
  aspect-ratio: 4 / 3;
  transition-duration: 0.3s;
}

.gallery-containers img {
  border-top: 1px solid #272727;
  border-left: 1px solid #272727;
  border-right: 1px solid #3f3f3f;
  border-bottom: 1px solid #3f3f3f;
  border-radius: 5px;
  width: 100%;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}


:where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}

